@import "main-data/main.css";

img {
    width: 169px;
    height: 167px;
    object-fit: cover;
}

#image-list-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: "a b c";
    justify-content: center;
    margin-top: 100px;
}

#links{
    position: relative;
    display: flex;
    overflow: hidden;
}

#links a {
    position: relative;
    transition: transform 1000ms ease 0s;
}

span {
    cursor: pointer;
}