@import "variables.css";

body {
    background-color: var(--background);
    display: grid;
    grid-template-areas: "header" "gallery" "main";
}

header {
    display: grid;
    grid-template-areas: 
    "logo"
    "navigation";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#header-contact {
    display: grid;
    grid-template-areas: 
    "your-store facebook"
    "phone instagram";
    justify-self: right;
    width: fit-content;
    padding: 20px;
}

#logo-and-contact {
    background-color: black;
    grid-area: logo;
    display: grid;
}

#logo-and-contact img {
    padding: 20px;
    justify-self: center;
}

.sub-header-title {
    font: white normal normal 12pt 'Arial';
}

.header-plaintext {
    font: white normal normal 9pt 'Arial';
}

.header-text {
    color: white;
    width: fit-content; 
    margin: 5px;
}

.icon {
    color: white;
    width: fit-content; 
}

a {
    text-decoration: none;
    height: fit-content;
    padding: 5px;
}

#your-store {
    grid-area: your-store;
}

#phone {
    grid-area: phone;
    white-space: nowrap;
}

#contact  {
    grid-area: contact;
}

#facebook {
    grid-area: facebook;
}

#instagram {
    grid-area: instagram;
} 

nav {
    background-color: var(--nav-background);
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    gap: 20px;
    grid-area: navigation;
    align-self: start;
    width: 100%;
} 

nav a {
    text-transform: uppercase;
    color: var(--font-color);
    font-family: sans-serif;
}

#logo-and-contact p {
    font-family: sans-serif;
}

article {
    font: normal normal normal 11pt 'Tahoma';
    text-align: center;
    justify-self: center;
    margin-top: 8vw;
    line-height: 1.5;
} 

table{
    width: 100%;;
}

td {
    padding: 0 10px;
    text-align: left;
} 

#blueimp-gallery {
    width: var(--gallery-width);
    height: var(--gallery-height);
    left: var(--gallery-position-left);
    z-index: 0;
}

.slide {
    width: var(--gallery-width);
}