@import "variables.css";

body {
    background-color: var(--background);
    display: grid;
    grid-template-areas: "header" "gallery" "main";
    margin: 0;
}

header {
    display: grid;
    grid-template-areas: 
    "logo"
    "navigation";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#header-contact {
    display: grid;
    grid-template-areas: 
    "phone facebook"
    "nat instagram";
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-items: center;
    align-self: center;
    padding: 20px;
    gap: 10px;
}

#header-contact-container{
    display: flex;
    flex-direction: row;
}

#twint {
    width: 150px;
    filter: contrast(2);
}

#logo-and-contact {
    background-color: black;
    grid-area: logo;
    display: flex;
    align-items: center; 
}

#logo-and-contact img {
    padding: 20px;
}

.flex-item {
    display: flex;
    flex: 1;
    justify-content: center;
}

#your-store {
    align-self: center;
}

.header-title {
    font: normal normal 24pt 'Arial';
}

.sub-header-title {
    font: normal normal 18pt 'Arial';
}

.header-plaintext {
    font: normal normal 16pt 'Arial';
}

.header-text {
    color: white;
    width: fit-content; 
    margin: 5px;
}

.icon {
    color: white;
    width: fit-content; 
    padding: 0;
    font-size: 16pt;
}

a {
    text-decoration: none;
    height: fit-content;
    padding: 5px;
}

#phone {
    grid-area: phone;
    white-space: nowrap;
}

#nat {
    grid-area: nat;
}

#contact  {
    grid-area: contact;
}

#facebook {
    grid-area: facebook;
}

#instagram {
    grid-area: instagram;
} 

.fa-instagram:before, .fa-facebook:before {
    font-size: 16pt;
}

nav {
    background-color: var(--nav-background);
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    gap: 20px;
    grid-area: navigation;
    align-self: start;
    width: 100%;
} 

nav a {
    text-transform: uppercase;
    color: var(--font-color);
    font-family: sans-serif;
}

#logo-and-contact p {
    font-family: sans-serif;
}

article {
    font: normal normal normal 11pt 'Tahoma';
    text-align: center;
    justify-self: center;
    margin-top: 8vw;
    line-height: 1.5;
} 

table{
    width: 100%;;
}

td {
    padding: 0 10px;
    text-align: left;
} 

#blueimp-gallery {
    width: var(--gallery-width);
    height: var(--gallery-height);
    left: var(--gallery-position-left);
    z-index: 0;
}

.slide {
    width: var(--gallery-width);
}

.blueimp-gallery-contain>.slides>.slide>.slide-content, .blueimp-gallery-contain>.slides>.slide>.slide-content>img{
    object-fit: cover;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
    width: 100%;
}

footer a {
    text-decoration: underline;
}

#box-middle-left, #box-middle-right {
    width: 300px;
    height: 130px;
}

iframe {
    border-radius: 5%;
}

#footer-inserted-by-fetch {
    display: flex;
}

img {
    width: 169px;
    height: 167px;
    object-fit: cover;
}

#image-list-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: "a b c";
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

#links{
    position: relative;
    display: flex;
    overflow: hidden;
}

#links a {
    position: relative;
    transition: transform 1000ms ease 0s;
}

span {
    cursor: pointer;
}
